header {
  padding: 1rem 6rem;
  display: flex;

  z-index: 999;
  justify-content: space-between;
  transition: all ease 0.3s;
}

header.active {
  position: fixed;
  width: 100%;
  padding: 1rem 6rem;
  background-color: var(--color-green);
}

header #logo {
  height: 40px;
}
header #logo2 {
  height: 40px;
  display: none;
}

header ul {
  display: flex;
  gap: 44px;
}
header ul li a {
  color: var(--color-gray);
  font-weight: 500;
  transition: all ease 0.3s;
}
header ul li a:hover {
  opacity: 0.9;
}
header nav {
  display: flex;

  align-items: center;
}

/* Media Queries */

@media (max-width: 1250px) {
  header {
    gap: 4rem;
  }
}
@media (max-width: 1200px) {
  header {
    gap: 2rem;
  }
}
@media (max-width: 1060px) {
  header ul {
    gap: 24px;
  }
  header ul li a {
    font-size: 14px;
  }
  header button {
    width: 100%;
  }
  header {
    padding: 1rem 6rem;
  }
  header #logo {
    width: 100px;
  }
}
@media (max-width: 980px) {
  header {
    gap: 1rem;
  }
  header button.blue,
  header button.blue-dark {
    width: 300px;
    margin-left: -70px;
  }
}

@media (max-width: 920px) {
  header .list li {
    display: none;
  }
  header {
    gap: 7rem;
  }
}

@media (max-width: 750px) {
  header #logo2 {
    display: block;
    height: 30px;
  }

  header #logo {
    display: none;
  }
  header button.blue,
  header button.blue-dark {
    display: none;
  }
}
